@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
/* background-image: linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px),
      linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px); */
@layer components {
  .cardy {
    background-color: #fff;
    background-image: linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px),
      linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
  }
  .bg_color {
    text-rendering: optimizeLegibility;
    background-color: #000;
    /* opacity: 97%; */
    color: rgb(42, 32, 32);
    /* scroll-padding-top: var(--header-height); */
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
  }
  body {
    background-color: white;
    font-family: "Poppins", sans-serif;
  }
  body.dark {
    background-color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
  }
  .head_text {
    @apply mt-5 text-3xl font-extrabold leading-[1.15] bg-gradient-to-br from-slate-400 to-slate-50 bg-clip-text text-transparent text-center text-[3rem] min-[1000px]:text-6xl;
  }
  .head_text_light {
    @apply mt-5 text-3xl font-extrabold leading-[1.15] bg-gradient-to-br from-[#242323] to-[#232323] bg-clip-text text-transparent text-center text-[3rem] min-[1000px]:text-6xl;
  }
  /* .bg_color {
  @apply   bg-black opacity-[0.98] ;
} */

  /* some custom code for alignment of the object */
  .flex_center {
    @apply flex justify-center items-center;
  }
  .orange_gradient {
    @apply bg-gradient-to-r from-amber-100 via-orange-600 to-violet-600 bg-clip-text text-transparent font-bold text-4xl;
  }
  .orange_gradient_section_text {
    @apply bg-gradient-to-r from-amber-100 via-slate-600 to-violet-600 bg-clip-text text-transparent font-bold text-6xl;
  }
  .desc {
    @apply font-serif p-4 font-extrabold text-transparent text-xl bg-clip-text bg-gradient-to-r from-white to-cyan-50 opacity-100 leading-8;
  }
  .navlist {
    @apply max-[899px]:bg-slate-700 max-[899px]:hover:bg-slate-500 hover:transition-colors hover:ease-in  hover:font-semibold   text-[1.2rem];
  }
  .list {
    @apply  min-[900px]:border-none  w-full flex justify-center items-center;
  }
  /* .card_color {
    @apply bg-black opacity-10;
  } */
  .card {
    @apply hover:bg-gradient-to-r hover:bg-slate-900 hover:via-slate-100 hover:to-slate-300 hover:shadow-gray-900 hover:shadow-xl;
  }
  .animate {
    @apply animate-spin;
  }

  /* styling for SlidingComponent.jsx */
  .slide_item_light {
    @apply bg-gradient-to-br from-slate-500 to-slate-100;
  }
  .slide_item {
    @apply w-[18rem] h-[15rem] px-3 flex flex-col justify-normal items-center  rounded-md  bg-[#171616]  shadow-slate-200  dark:shadow-black shadow-2xl;
  }

  .slide_icon {
    @apply min-[900px]:w-28 min-[900px]:h-48 w-24 h-48 text-orange-600;
  }
  .slide_text {
    @apply text-xl text-clip text-slate-50 font-semibold  opacity-100;
  }
  /* for mobile */
  .slide_itemM {
    @apply w-[18rem] h-[15rem]   px-3 flex flex-col justify-center items-center  rounded-md bg-slate-300 shadow-2xl shadow-slate-400;
  }
  .slide_iconM {
    @apply w-28 h-48;
  }
  .slide_textM {
    @apply text-xl text-clip text-slate-900 font-semibold  opacity-100;
  }
  /* end of styling SlidingComponent.jsx */
  /* .card1 {
    @apply w-[30rem] h-[23rem]  bg-slate-200  rounded-md;
  } */
  /* .card2 {
    @apply w-[30rem] h-[20rem] relative -top-2 -left-4 bg-cyan-400 rounded-md;
  } */
  /* styling for Card.jsx */
  .inner_div_light {
    background: linear-gradient(rgb(17, 24, 39), rgb(13, 14, 14));
  }
  .inner_div {
    @apply max-[500px]:w-[19rem] max-[500px]:h-[18rem] w-[25rem] h-[22rem] bg-[#fcfafa] dark:inner_div_light dark:opacity-90  relative shadow-lg rounded-lg transition-all duration-300 ease-in max-[500px]:hover:h-[23rem] hover:h-[24rem];
  }
  .inner_image {
    @apply max-[500px]:w-[19rem] max-[500px]:h-[16rem] w-[25rem] h-[20rem] absolute -top-4 -left-4 max-[500px]:hover:w-[17rem] hover:w-[23rem] hover:top-2 hover:left-4 transition-all duration-300 ease-in shadow-lg rounded-lg object-contain;
  }
  .inner_text {
    @apply text-[1.5rem] max-[503px]:text-[1rem]  align-text-bottom text-slate-800  dark:bg-gradient-to-br dark:from-slate-400 dark:to-slate-50 dark:bg-clip-text dark:text-transparent   font-semibold absolute bottom-3 left-4;
  }
  /* end of styling Card.jsx */

  /* style for HoveringMenu.jsx */
  .dropdownMenu {
    @apply flex_center px-4 py-2 text-lg text-white hover:bg-black hover:opacity-50 transition duration-300;
  }

  /* style for activeStudentComponent div */
  .activeStudentContainer {
    @apply flex justify-evenly items-center flex-shrink w-[100%] h-[55rem] max-[930px]:hidden;
  }
  .activeStudentItemDiv {
    @apply w-[25%] h-[55rem] max-[930px]:hidden bg-slate-100 dark:bg-[#000000] border-none relative box-content bottom-0 p-4;
  }
  .activeStudentTextDiv {
    @apply w-[50%] h-[57rem] max-[930px]:hidden bg-slate-100 dark:bg-[#000000] border-none  flex_center flex-col  pt-24  relative border-0 p-4;
  }
  /* end of  style for activeStudentComponent div */

  /* style for codeEditor.jsx */
  .codeContainerDiv {
    @apply max-[420px]:w-[20rem]  w-[25rem] h-[25rem] bg-gradient-to-r from-[#393636] to-[#413f3f] flex flex-col justify-center items-center gap-1 shadow-xl rounded-xl;
  }
  .codeItemDiv {
    @apply max-[420px]:w-64 w-72 h-56 bg-[#121111] shadow-xl shadow-gray-900 rounded-lg;
  }

  /* style for footer */
  .containerFooter {
    @apply grid relative top-10 bottom-0 grid-cols-4 max-[850px]:grid-cols-2 max-[850px]:place-items-center  max-[850px]:pb-20 w-screen h-screen pt-20 pb-20 min-[1300px]:pl-32 min-[1300px]:pr-32 pl-10 pr-10  max-[450px]:pl-4 max-[450px]:pr-0 max-[850px]:gap-y-4;
  }
  .ItemFooter {
    @apply flex flex-col h-full gap-y-4 text-slate-400 hover:text-slate-50;
  }
  .iconFooter {
    @apply w-8 h-8 text-slate-400;
  }
  .textColor {
    @apply text-slate-700 hover:text-slate-900 font-semibold  dark:text-slate-400 dark:hover:text-slate-50;
  }

  /* style for select-level.jsx */
  .slectlevelInnerdiv {
    @apply flex flex-col w-full  h-full  px-8 max-[550px]:px-2;
  }

  .levelInnerDiv {
    @apply flex flex-col justify-around items-center w-[33.33%] max-[550px]:w-[95%]   h-[10rem] active:bg-black  bg-[#ef673e]  rounded-lg   transition-colors  duration-500 text-2xl;
  }
  .days {
    @apply flex_center w-[14rem] h-[4rem] bg-[#183D3D] text-xl text-white rounded-sm active:bg-black transition-colors  duration-500;
  }
  .select {
    @apply bg-red-300;
  }
  /*tailwind style for blinkingCard.jsx */
  .connector_span {
    @apply w-[6px] h-[10px] -top-[10px] -z-10;
  }

  .levelactive {
    @apply bg-orange-400;
  }
  .IcDIv_light::after {
    content: "Powered By";
    width: 186px;
    height: 60px;
    background: #2c2d2c;
    color: #898989;
    font-weight: 900;
    font-size: 1.5rem;
    position: absolute;

    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #3a3a3a; */
    border-radius: 4px;
    z-index: 999;
  }
  .IcDiv::after {
    content: "Powered By";
    width: 186px;
    height: 60px;
    background: #131413;
    color: #898989;
    font-weight: 900;
    font-size: 1.5rem;
    position: absolute;

    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #3a3a3a; */
    border-radius: 4px;
    z-index: 999;
  }
  .connector_span {
    background: linear-gradient(
      180deg,
      #9a9a9a,
      #686868 33.33%,
      #848484 66.67%,
      #3a3a3a
    );
    position: absolute;
    border-radius: 1px 1px 0 0;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.02),
      inset 0 -1px 1px 1px rgba(0, 0, 0, 0.1), inset 0 -1px 1px #ddd;
  }
  .connector_span_text {
    background: linear-gradient(
      180deg,
      #9a9a9a,
      #686868 33.33%,
      #848484 66.67%,
      #3a3a3a
    );
  }

  hr {
    height: 1px;
    background-color: gray;
    border: none;
    opacity: 200%;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .menu-btn {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn_burg {
    width: 30px;
    height: 3px;
    background: linear-gradient(
      to right,
      rgb(55, 65, 81),
      rgb(17, 24, 39),
      rgb(0, 0, 0)
    );
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  body.dark .menu-btn_burg {
    background: #fff;
  }
  .menu-btn_burg::after,
  .menu-btn_burg::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background: linear-gradient(
      to right,
      rgb(55, 65, 81),
      rgb(17, 24, 39),
      rgb(0, 0, 0)
    );
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  body.dark .menu-btn_burg::after,
  body.dark .menu-btn_burg::before {
    background: #fff;
  }
  .menu-btn_burg::after {
    transform: translateY(10px);
  }
  .menu-btn_burg::before {
    transform: translateY(-10px);
  }
  .menu-btn.open .menu-btn_burg {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn_burg::before {
    transform: rotate(45deg) translate(40px, -40px);
  }
  .menu-btn.open .menu-btn_burg::after {
    transform: rotate(-45deg) translate(40px, 40px);
  }
  input::placeholder {
    color: #b90f0f;
  }
  input {
    color: #fff;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .font_family {
    font-family: "Crimson Text", serif;
  }
  /* .ripple {
    background: rgba(25, 25, 26, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(25, 25, 26, 0.2);
  } */
  .scrolling1::-webkit-scrollbar {
    display: none;
  }
  

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrolling2 {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /* Apply the styles to the scrollbar track (background) */
  body {
    background: #fff;
  }
  body::-webkit-scrollbar {
    width: 0.25em;
  }
  body::-webkit-scrollbar-track {
    background-color: #000;
  }

  /* Apply the styles to the scrollbar thumb (handle) */
  body::-webkit-scrollbar-thumb {
    background-color: #d3c0c07f;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
  }
/* For WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  transition: background-color 0.5s ease;
}

/* Hover effect to show scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}
.overflow-auto {
  overflow: auto !important; /* Ensure that this rule is not being overridden */
}


  /* css for register_btn in trialClassForm */
  .register_btn {
    width: 18rem;
    height: 5rem;
    background: linear-gradient(
      to right,
      rgb(118, 169, 235),
      rgb(94, 158, 237),
      rgb(59, 130, 246)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    overflow: hidden;
    border: none;
    transition: all 0.8s ease-in-out;
  }
  body.dark .register_btn {
    background: linear-gradient(
      to right,
      rgb(15, 15, 15),
      rgb(0, 7, 14),
      rgb(7, 7, 7)
    );
}


  .register_btn::after,
  .register_btn::before {
    content: "";
    width: 0; /* Initial width set to 0 */
    height: 0; /* Initial height set to 0 */
    position: absolute;
    background-color: #e9e9e9;
    opacity: 60%;
    transform: rotate(30deg);
    transition: all 0.8s ease-in-out;
  }

  .register_btn::after {
    top: -10rem;
    right: -9.7rem;
  }

  .register_btn::before {
    bottom: -10rem;
    left: -9.7rem;
  }

  .register_btn:hover::after {
    width: 28rem;
    height: 14.123rem;
  }

  .register_btn:hover::before {
    width: 28rem;
    height: 14.123rem;
  }

  @property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
  }
  
  .h3 {
    transition: --num 1s;
    counter-reset: num var(--num);
    cursor: pointer;
  }

  .h3:hover {
    --num: 10000;
  }

  .h3::after {
    content: counter(num);
  }

  /* after-before selector card component */
  /* design for blinkingCard.jsx */
  .blinking_div:hover:before {
    content: "";
    width: 150%;
    height: 150%;
    background-image: conic-gradient(#ff0052 20deg, transparent 120deg);
    position: absolute;
    animation: rotate 2s linear infinite;
    transform: translateY(12rem);
  }
  .blinking_div::after {
    content: "";
    width: 190px;
    height: 190px;
    border-radius: 10px;
    background: #101010;
    position: absolute;
    top: 4px;
    left: 4px;
  }

  .svgs {
    width: 800px;
    height: 500px;
    background-color: #000000;
    top: -1px;
    left: -1px;
    z-index: -999;
    border: none;
    position: relative;
  }
  .pathDownpin1 {
    stroke-dasharray: 50;
    stroke-dashoffset: 0;
    animation: border 1s infinite;
    transition: animation 5s ease-in-out;
  }
  .pathDownpin1Horizontal {
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    animation: pathDownpin1Horizontal 0.5s infinite;
    transition: animation 5s ease-in-out;
  }
  .pathDownpin2 {
    stroke-dasharray: 50;
    stroke-dashoffset: 0;
    animation: border 0.5s infinite;
    transition: animation 5s ease-in-out;
  }
  .pathrightlastline {
    stroke-dasharray: 50;
    stroke-dashoffset: 0;
    animation: border 0.5s infinite;
    transition: border 5s ease-in-out;
  }
  @keyframes pathDownpin1Horizontal {
    0% {
      stroke-dashoffset: 100;
    }
    40% {
      stroke-dashoffset: 80;
    }
    60% {
      stroke-dashoffset: 60;
    }
    80% {
      stroke-dashoffset: 30;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes border {
    100% {
      stroke-dashoffset: 100;
    }
    80% {
      stroke-dashoffset: 80;
    }
    60% {
      stroke-dashoffset: 60;
    }
    40% {
      stroke-dashoffset: 30;
    }
    0% {
      stroke-dashoffset: 0;
    }
  }
  .trialDiv {
    background: linear-gradient(180deg, #171414 0, rgb(0, 0, 0) 65.62%);
  }
  .powerDiv_light {
    width: 100%;
    min-height: 280px;
    border-radius: 12px;

    padding: 24px;
    box-shadow: 0 1px 0 1px rgba(19, 17, 17, 0.02),
      0 4px 6px rgba(0, 0, 0, 0.02), inset 0 0 0 3px rgb(230, 226, 226);
    background: radial-gradient(
      ellipse at center,
      rgba(255, 255, 255, 1) 100%,
      rgba(255, 255, 255, 1) 70%,
      rgba(255, 255, 255, 1) 100%
    );

    position: relative;
    transition: background 0.15s ease;
  }
  .powerOuterDiv {
    width: 100%;
    min-height: 280px;
    border-radius: 12px;
    border-color: #36454f;
    padding: 24px;
    box-shadow: 0 1px 0 1px rgba(19, 17, 17, 0.02),
      0 4px 6px rgba(0, 0, 0, 0.02), inset 0 0 0 7px rgb(3, 2, 2);
    background: linear-gradient(180deg, #171414 0, rgb(0, 0, 0) 65.62%);
    position: relative;
    transition: background 0.15s ease;
  }
  .powerDiv_light::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 3px;
    background: radial-gradient(circle, cyan, transparent);
  }
  .powerOuterDiv::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 3px;
    background: radial-gradient(circle, cyan, transparent);
  }
  .powerdiv2::before {
    background: radial-gradient(circle, rgb(255, 196, 0), transparent);
  }
  .powerdiv3::before {
    background: radial-gradient(circle, rgb(0, 255, 51), transparent);
  }
  .powerDiv_light1::before {
    background: radial-gradient(circle, orange, transparent);
  }
  .powerDiv_light2::before {
    background: radial-gradient(circle, green, transparent);
  }
  /* style for proPracticeCard */
  .pro {
    width: 20rem;
    height: 6rem;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pro::before {
    content: "";
    background-image: conic-gradient(#ff052f 90deg, transparent 270deg);
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
  }
  .pro:hover::before {
    display: block;
    animation: rotateBorder 1.7s linear infinite;
  }
  .dark .pro::after {
    content: "Book A FREE class";
    width: 34.6rem;
    height: 4.7rem;
    background: linear-gradient(
      to right,
      rgb(20, 17, 17),
      rgb(17, 24, 39),
      rgb(43, 37, 37)
    );
    position: absolute;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .pro::after {
    content: "Book A FREE class";
    width: 34.6rem;
    height: 4.7rem;
    background: linear-gradient(
      to right,
      rgb(134, 239, 172),
      rgb(59, 130, 246),
      rgb(147, 51, 234)
    );
    position: absolute;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  @keyframes rotateBorder {
    0% {
      transform: 0deg;
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* for designing custom curve of a div */

  .custom_shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom_shape svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 198px;
  }

  .custom_shape .shape-fill {
    fill: #100f0f;
  }

  /* design for 3D text */
  .text {
    text-transform: uppercase;
    font-family: verdana;
    font-size: 12em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
      1px 4px 1px #919191, 1px 22px 10px rgba(16, 16, 16, 0.2),
      1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
  }

  body {
    overflow-x: hidden;
  }
  /* style for globeInnerDiv */

  .click {
    position: relative;
    margin: 0 auto;
    width: 350px;
    height: 350px;
    top: 15vh;
  }

  .glassball {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: rgba(65, 28, 196, 0.15);
    top: 0%;
    box-shadow: 0 20px 30px rgba(213, 55, 55, 0.2),
      inset 0px 10px 30px 5px rgb(48, 31, 158);
    /* position: absolute; */
  }
  .glassball:after {
    background: radial-gradient(
      ellipse at center,
      rgba(114, 0, 213, 0.5) 0%,
      rgba(93, 61, 139, 0) 70%
    );
    border-radius: 50%;
    box-shadow: inset 0 20px 30px rgba(167, 18, 18, 0.3);
    content: "";
    height: 96%;
    left: 2%;
    position: absolute;
    width: 96%;
    top: 2%;
    z-index: 1;
  }
  .glassball:hover {
    cursor: grab;
  }
  .glassball:before {
    position: absolute;
    left: 48%;
    top: 50%;
    width: 0px;
    height: 0px;
    background: radial-gradient(circle closest-side, #9c27b0, transparent);
    transform: translate(-45%, -48%);
    transition: width 0.2s ease, height 0.2s ease;
    animation: spark 5ms ease 0s infinite alternate;
    border: 8px dotted #24e6ff;
    filter: blur(15px);
    border-radius: 100%;
    z-index: 2;
    font-size: 10em;
    color: #d6faff;
    text-align: center;
    line-height: 1;
    content: "s";
    display: none;
    opacity: 0.75;
  }

  .electrode {
    background: linear-gradient(75deg, #6b5151 20%, #2d2d2d);
    width: 1em;
    height: 8.75em;
    bottom: 1.25em;
    position: absolute;
    left: calc(50% - 0.5em);
    overflow: visible;
    border-bottom: 1px solid #657882;
    border-radius: 0 0 6px 5px;
  }
  .electrode:before {
    position: absolute;
    left: -16px;
    top: -40px;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    content: "";
    background: radial-gradient(at top left, #4a4949 20%, #2d2d2d);
    border: 1px solid #758e99;
    box-sizing: border-box;
  }
  .electrode:after {
    position: absolute;
    left: -3px;
    bottom: -11px;
    width: 1.375em;
    height: 1em;
    border-radius: 140px/50px;
    content: "";
    background: linear-gradient(-263deg, #191919 20%, #0a0a0a);
    z-index: -1;
  }
  input.switcher:checked + .glassball .electrode:after {
    background: linear-gradient(-263deg, #3a3a3a 20%, #2d2d2d);
  }
  input.switcher:checked + .glassball .electrode:before {
    background: radial-gradient(
      ellipse farthest-corner at 30px 30px,
      #999,
      #e449ff,
      #e449ff,
      #9763ff,
      #62edff,
      #fff
    );
    box-shadow: 0 0 10px 2px #e449ffb3, 0 0 10px 2px #fff,
      0 0 50px -10px #fff inset;
    border-color: #ffffff94;
  }
  input.switcher + .glassball .rays {
    display: none;
  }
  input.switcher:checked + .glassball .rays {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .ray {
    width: 10em;
    height: 2em;
    position: absolute;
    bottom: 9em;
    filter: drop-shadow(0px 0px 7px #9660f7) drop-shadow(0px 0px 2px #fff);
  }
  .ray:before {
    content: "";
    width: 0.5em;
    height: 0.45em;
    border: 2px dashed #03a9f4;
    position: absolute;
    border-width: 3px 3px 1px 1px;
    transform: rotate(87deg);
    top: 0.3em;
    left: 3px;
    border-radius: 10px 5px 8px 7px;
    filter: blur(2px);
    box-shadow: 0 0 10px -1px black;
  }
  .ray:after {
    content: "s";
    float: left;
    width: 0.5em;
    height: 1.5em;
    margin-top: 20px;
    margin-left: 0px;
    animation: blink 1s linear 0s infinite alternate;
    background: radial-gradient(circle closest-side, #9c27b0, transparent);
    transform: translate(-45%, -48%);
    transition: width 0.2s ease, height 0.2s ease;
    border: 8px dotted #24e6ff;
    filter: blur(5px);
    border-radius: 100%;
    z-index: 2;
    font-size: 4em;
    color: #d6faff;
    text-align: center;
    line-height: 1;
  }
  .ray span {
    width: 4em;
    height: 1em;
    border: solid 0.25em #000;
    border-radius: 238%/50px 50px 0 0;
    position: absolute;
    top: 0.5em;
    left: 0;
    border-color: #6bbdff transparent transparent transparent;
  }

  .ray span + span {
    left: 30%;
    transform: rotate(180deg);
    top: 0.15em;
  }
  .ray span + span + span {
    left: 60%;
    transform: rotate(0deg);
    top: 0.5em;
  }

  .ray span:last-of-type:before {
    content: "";
    float: right;
    width: 8px;
    height: 8px;
    background: #d1eefb;
    border-radius: 100%;
    box-shadow: 0 0 4px 3px #fff;
    filter: blur(1px);
    margin-top: -2px;
    left: 3px;
    position: relative;
  }
  .ray.bigwave span:last-of-type:before {
    content: "";
    float: left;
    width: 8px;
    height: 8px;
    background: #d1eefb;
    border-radius: 100%;
    box-shadow: 0 0 4px 3px #fff;
    filter: blur(1px);
    margin-top: -3px;
    left: -2px;
    position: relative;
  }
  .ray.bigwave span {
    width: 55%;
    border-width: 4px;
  }
  .ray.bigwave span + span {
    width: 60%;
    left: 40%;
    border-width: 5px;
    margin-left: 4px;
    margin-top: 2px;
  }

  .rays + .rays {
    transform: rotate(180deg);
  }
  .rays + .rays + .rays {
    transform: rotate(90deg);
  }
  .rays + .rays + .rays + .rays {
    transform: rotate(270deg);
  }
  .rays + .rays + .rays + .rays + .rays {
    transform: skew(-187deg, 0deg) scale(0.675) rotate(0deg);
    display: none;
    animation: touchray1 2.5s ease 0.1s infinite alternate;
  }
  .rays + .rays + .rays + .rays + .rays + .rays {
    transform: skew(-140deg, -40deg) scale(0.675) rotate(180deg);
    display: none;
    animation: touchray2 1s ease 0.25s infinite;
  }
  input.switcher:checked
    + .glassball:hover
    .rays
    + .rays
    + .rays
    + .rays
    + .rays {
    display: block;
  }

  .rays + .rays + .rays + .rays + .rays .ray {
    width: 8.5em;
    animation: ray1 0.5s linear 0s infinite alternate;
  }
  .rays + .rays + .rays + .rays + .rays .ray span {
    border-top-width: 8px;
  }

  .ray:nth-of-type(1) {
    animation: ray1 0.5s linear 0s infinite;
  }
  .ray:nth-of-type(2) {
    animation: ray1 0.75s linear 0s infinite alternate;
  }
  .ray:nth-of-type(3) {
    animation: ray1 0.65s linear 0s infinite reverse;
  }
  .ray:nth-of-type(4) {
    animation: ray1 0.95s linear 0s infinite alternate;
  }
  .ray:nth-of-type(5) {
    animation: ray1 0.85s linear 0s infinite reverse;
  }

  .rays + .rays .ray:nth-of-type(1) {
    animation-duration: 1.55s;
  }
  .rays + .rays .ray:nth-of-type(2) {
    animation-duration: 1.75s;
  }
  .rays + .rays .ray:nth-of-type(3) {
    animation-duration: 0.65s;
  }
  .rays + .rays .ray:nth-of-type(4) {
    animation-duration: 1.85s;
  }
  .rays + .rays .ray:nth-of-type(5) {
    animation-duration: 1.6s;
  }

  .rays + .rays + .rays .ray:nth-of-type(1) {
    animation-duration: 1.15s;
  }
  .rays + .rays + .rays .ray:nth-of-type(2) {
    animation-duration: 1.5s;
  }
  .rays + .rays + .rays .ray:nth-of-type(3) {
    animation-duration: 1.35s;
  }
  .rays + .rays + .rays .ray:nth-of-type(4) {
    animation-duration: 1s;
  }
  .rays + .rays + .rays .ray:nth-of-type(5) {
    animation-duration: 1.25s;
  }

  .rays + .rays + .rays + .rays .ray:nth-of-type(1) {
    animation-duration: 1.05s;
  }
  .rays + .rays + .rays + .rays .ray:nth-of-type(2) {
    animation-duration: 1.35s;
  }
  .rays + .rays + .rays + .rays .ray:nth-of-type(3) {
    animation-duration: 1.25s;
  }
  .rays + .rays + .rays + .rays .ray:nth-of-type(4) {
    animation-duration: 1.15s;
  }
  .rays + .rays + .rays + .rays .ray:nth-of-type(5) {
    animation-duration: 1.45s;
  }

  .rays + .rays + .rays + .rays + .rays .ray:nth-of-type(1) {
    animation-duration: 0.85s;
  }
  .rays + .rays + .rays + .rays + .rays .ray:nth-of-type(2) {
    animation-duration: 0.95s;
  }
  .rays + .rays + .rays + .rays + .rays .ray:nth-of-type(3) {
    animation-duration: 0.75s;
  }

  .rays + .rays + .rays + .rays + .rays + .rays .ray:nth-of-type(1) {
    animation-duration: 1.1s;
  }
  .rays + .rays + .rays + .rays + .rays + .rays .ray:nth-of-type(2) {
    animation-duration: 1.25s;
  }
  .rays + .rays + .rays + .rays + .rays + .rays .ray:nth-of-type(3) {
    animation-duration: 1.35s;
  }

  @keyframes rotation {
    50% {
      transform: rotate(360deg);
    }
  }
  @keyframes blink {
    0% {
      background: radial-gradient(circle closest-side, #ff5affb8, #5493d2a8);
      transform: translate(-50%, -50%) scale(0.75) rotate(6deg);
    }
    50% {
      background: radial-gradient(circle closest-side, #5493d2a8, #ff5affb8);
      transform: translate(-50%, -50%) scale(0.5) rotate(2deg);
    }
    100% {
      background: radial-gradient(circle closest-side, #ffffffa8, #5493d2a8);
      transform: translate(-50%, -50%) scale(0.35) rotate(11deg);
    }
  }
  @keyframes innerlight {
    0% {
      background-size: 105% 105%;
      background-position: center center;
      box-shadow: 0 0 15px 5px #5493d2a8;
    }
    25% {
      box-shadow: 0 0 15px 5px #ff5aff30;
    }
    50% {
      background-size: 85% 85%;
      background-position: center center;
      box-shadow: 0 0 15px 5px #5493d2a8;
    }
    75% {
      box-shadow: 0 0 15px 5px #ff5aff30;
    }
    100% {
      background-size: 105% 105%;
      background-position: center center;
      box-shadow: 0 0 15px 5px #5493d2a8;
    }
  }
  @keyframes touchray1 {
    0% {
      transform: skew(-187deg, 0deg) scale(0.675) rotate(0deg);
    }
    50% {
      transform: skew(-185deg, 2deg) scale(0.525) rotate(180deg);
      opacity: 1;
    }
    51% {
      opacity: 0;
    }
    52% {
      opacity: 1;
    }
    100% {
      transform: skew(-188deg, -2deg) scale(0.625) rotate(360deg);
    }
  }
  @keyframes touchray2 {
    0% {
      transform: skew(-140deg, -40deg) scale(0.675) rotate(140deg);
    }
    50% {
      transform: skew(-143deg, -42deg) scale(0.525) rotate(0deg);
      opacity: 1;
    }
    51% {
      opacity: 0;
    }
    52% {
      opacity: 1;
    }
    100% {
      transform: skew(-145deg, -38deg) scale(0.625) rotate(210deg);
    }
  }
  @keyframes spark {
    0% {
      background: radial-gradient(circle closest-side, #ff5affb8, #5493d2a8);
      transform: translate(-50%, -50%) scale(0.75) rotate(0deg);
    }
    50% {
      background: radial-gradient(circle closest-side, #5493d2a8, #ff5affb8);
      transform: translate(-50%, -50%) scale(0.5) rotate(180deg);
    }
    100% {
      background: radial-gradient(circle closest-side, #ffffffa8, #5493d2a8);
      transform: translate(-50%, -50%) scale(1) rotate(360deg);
    }
  }
  @keyframes ray1 {
    0% {
      opacity: 0;
      transform: rotate(0deg) translate(0px, 0px);
    }
    12% {
      opacity: 1;
      transform: rotate(22deg) translate(0px, -35px);
      filter: brightness(1.75);
    }
    25% {
      opacity: 0;
      transform: rotate(45deg) translate(-33px, -69px);
    }
    37% {
      opacity: 1;
      transform: rotate(67deg) translate(-64px, -86px);
      filter: brightness(1.15);
    }
    50% {
      opacity: 0;
      transform: rotate(90deg) translate(-108px, -93px);
    }
    62% {
      opacity: 1;
      transform: rotate(112deg) translate(-140px, -90px);
      filter: brightness(1.25);
    }
    75% {
      opacity: 0;
      transform: rotate(135deg) translate(-169px, -69px);
    }
    87% {
      opacity: 1;
      transform: rotate(157deg) translate(-185px, -36px);
      filter: brightness(1.75);
    }
    100% {
      opacity: 0;
      transform: rotate(180deg) translate(-192px, 6px);
    }
  }
  /* book free class button */
  .Book_free_class_button {
    width: 15rem;
    height: 3.7rem;
    position: relative;
    background: linear-gradient(
      115deg,
      #4fcf70,
      #fad648,
      #a767e5,
      #12bcfe,
      #44ce7b
    );
    background-size: 50% 100%;
    cursor: pointer;
  }
  .Book_free_class_button::before {
    content: "BOOK A FREE CLASS";
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    display: flex;
    border-radius: 0.3rem;
    justify-content: center;
    align-items: center;
    background-color: #0e0d0d;
    font-size: 1.2rem;
    font-weight: 100;
    text-decoration: none;
    color: white;

    animation: borderAnimation linear infinite;
  }
  .Book_free_class_button:hover {
    animation: borderAnimation 1.3s linear infinite;
  }
  @keyframes borderAnimation {
    0% {
      background: linear-gradient(
        115deg,
        #4fcf70,
        #fad648,
        #a767e5,
        #12bcfe,
        #44ce7b
      );
    }
    10% {
      background: linear-gradient(
        115deg,
        #44ce7b,
        #12bcfe,
        #a767e5,
        #fad648,
        #4fcf70
      );
    }
    20% {
      background: linear-gradient(
        115deg,
        #4fcf70,
        #fad648,
        #a767e5,
        #12bcfe,
        #44ce7b
      );
    }
    30% {
      background: linear-gradient(
        115deg,
        #44ce7b,
        #12bcfe,
        #a767e5,
        #fad648,
        #4fcf70
      );
    }
    40% {
      background: linear-gradient(
        115deg,
        #4fcf70,
        #fad648,
        #a767e5,
        #12bcfe,
        #44ce7b
      );
    }
    50% {
      background: linear-gradient(
        115deg,
        #44ce7b #4fcf70,
        #fad648,
        #a767e5,
        #12bcfe
      );
    }
    60% {
      background: linear-gradient(
        115deg,
        #4fcf70,
        #fad648,
        #a767e5,
        #12bcfe,
        #44ce7b
      );
    }
    70% {
      background: linear-gradient(
        115deg,
        #44ce7b,
        #12bcfe,
        #a767e5,
        #fad648,
        #4fcf70
      );
    }
    90% {
      background: linear-gradient(
        115deg,
        #4fcf70,
        #fad648,
        #a767e5,
        #12bcfe,
        #44ce7b
      );
    }
    100% {
      background: linear-gradient(#44ce7b, #12bcfe, #a767e5, #fad648, #4fcf70);
    }
  }

  /* for responsive */
  /* responsiveness of curved shape */
  @media only screen and (max-width: 1400px) {
    .custom_shape svg {
      height: 100px;
    }
  }
}
