@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
/* background-image: linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px),
      linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px); */
@layer components {
  .cardy {
    background-color: #fff;
    background-image: linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px),
      linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
  }
  .bg_color {
    text-rendering: optimizeLegibility;
    background-color: #000;
    /* opacity: 97%; */
    color: rgb(42, 32, 32);
    /* scroll-padding-top: var(--header-height); */
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
  }

  .head_text {
    @apply mt-5 text-3xl font-extrabold leading-[1.15] bg-gradient-to-br from-slate-400 to-slate-50 bg-clip-text text-transparent text-center text-[3rem] min-[1000px]:text-[6rem];
  }
  /* .bg_color {
  @apply   bg-black opacity-[0.98] ;
} */

  /* some custom code for alignment of the object */
  .flex_center {
    @apply flex justify-center items-center;
  }
  .orange_gradient {
    @apply bg-gradient-to-r from-amber-100 via-orange-600 to-violet-600 bg-clip-text text-transparent font-bold text-4xl;
  }
  .desc {
    @apply font-serif p-4 font-extrabold text-transparent text-xl bg-clip-text bg-gradient-to-r from-white to-cyan-50 opacity-100 leading-8;
  }
  .navlist {
    @apply bg-slate-300 hover:bg-white hover:transition-colors hover:ease-in  hover:font-semibold bg-clip-text text-transparent text-[1.2rem];
  }
  .list {
    @apply border min-[900px]:border-none border-dashed w-full flex justify-center items-center;
  }
  /* .card_color {
    @apply bg-black opacity-10;
  } */
  .card {
    @apply hover:bg-gradient-to-r hover:bg-slate-900 hover:via-slate-100 hover:to-slate-300 hover:shadow-gray-900 hover:shadow-xl;
  }
  .animate {
    @apply animate-spin;
  }

  /* styling for SlidingComponent.jsx */
  .slide_item {
    @apply w-[18rem] h-[15rem] px-3 flex flex-col justify-normal items-center  rounded-md bg-[#171616] shadow-2xl;
  }
  .slide_icon {
    @apply min-[900px]:w-28 min-[900px]:h-48 w-24 h-48 text-orange-600;
  }
  .slide_text {
    @apply text-xl text-clip text-slate-50 font-semibold  opacity-100;
  }
  /* for mobile */
  .slide_itemM {
    @apply w-[18rem] h-[15rem]   px-3 flex flex-col justify-center items-center  rounded-md bg-slate-300 shadow-2xl shadow-slate-400;
  }
  .slide_iconM {
    @apply w-28 h-48;
  }
  .slide_textM {
    @apply text-xl text-clip text-slate-900 font-semibold  opacity-100;
  }
  /* end of styling SlidingComponent.jsx */
  /* .card1 {
    @apply w-[30rem] h-[23rem]  bg-slate-200  rounded-md;
  } */
  /* .card2 {
    @apply w-[30rem] h-[20rem] relative -top-2 -left-4 bg-cyan-400 rounded-md;
  } */
  /* styling for Card.jsx */
  .inner_div {
    @apply max-[500px]:w-[19rem] max-[500px]:h-[14rem] w-[25rem] h-[18rem] bg-[#181717]  relative shadow-lg rounded-lg transition-all duration-300 ease-in max-[500px]:hover:h-[16rem] hover:h-[20rem];
  }
  .inner_image {
    @apply max-[500px]:w-[19rem] max-[500px]:h-[12rem] w-[25rem] h-[16rem] absolute -top-4 -left-4 max-[500px]:hover:w-[17rem] hover:w-[23rem] hover:top-2 hover:left-4 transition-all duration-300 ease-in shadow-lg rounded-lg;
  }
  .inner_text {
    @apply max-[500px]:text-2xl text-3xl  bg-gradient-to-br from-slate-400 to-slate-50 bg-clip-text text-transparent  font-semibold absolute bottom-3 left-4;
  }
  /* end of styling Card.jsx */

  /* style for HoveringMenu.jsx */
  .dropdownMenu {
    @apply flex_center px-4 py-2 text-lg text-white hover:bg-black hover:opacity-50 transition duration-300;
  }

  /* style for activeStudentComponent div */
  .activeStudentContainer {
    @apply flex justify-evenly items-center flex-shrink w-[100%] h-[55rem] max-[930px]:hidden;
  }
  .activeStudentItemDiv {
    @apply w-[25%] h-[55rem] max-[930px]:hidden bg-[#000000] border-none relative box-content bottom-0 p-4;
  }
  .activeStudentTextDiv {
    @apply w-[50%] h-[57rem] max-[930px]:hidden bg-[#000000] border-none  flex_center flex-col  pt-24  relative border-0 p-4;
  }
  /* end of  style for activeStudentComponent div */

  /* style for codeEditor.jsx */
  .codeContainerDiv {
    @apply w-[25rem] h-[25rem] bg-gradient-to-r from-[#393636] to-[#413f3f] flex flex-col justify-center items-center gap-1 shadow-xl rounded-xl;
  }
  .codeItemDiv {
    @apply w-72 h-56 bg-[#121111] shadow-xl shadow-gray-900 rounded-lg;
  }

  /* style for footer */
  .containerFooter {
    @apply grid grid-cols-4 max-[850px]:grid-cols-2 max-[850px]:place-items-center max-[450px]:grid-cols-1 max-[850px]:pb-20 w-screen h-screen pt-20 pb-20 min-[1300px]:pl-32 min-[1300px]:pr-32 pl-10 pr-10 max-[850px]:gap-y-4;
  }
  .ItemFooter {
    @apply flex flex-col h-full gap-y-4 text-slate-400 hover:text-slate-50;
  }
  .iconFooter {
    @apply w-8 h-8 text-slate-400;
  }
  .textColor {
    @apply text-slate-400 hover:text-slate-50;
  }
  /*tailwind style for blinkingCard.jsx */
  .connector_span {
    @apply w-[6px] h-[10px] -top-[10px] -z-10;
  }
  .IcDiv::after {
    content: "Powered By";
    width: 186px;
    height: 60px;
    background: #131413;
    color: #898989;
    font-weight: 900;
    font-size: 1.5rem;
    position: absolute;

    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #3a3a3a; */
    border-radius: 4px;
    z-index: 999;
  }
  .connector_span {
    background: linear-gradient(
      180deg,
      #9a9a9a,
      #686868 33.33%,
      #848484 66.67%,
      #3a3a3a
    );
    position: absolute;
    border-radius: 1px 1px 0 0;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.02),
      inset 0 -1px 1px 1px rgba(0, 0, 0, 0.1), inset 0 -1px 1px #ddd;
  }
  .connector_span_text {
    background: linear-gradient(
      180deg,
      #9a9a9a,
      #686868 33.33%,
      #848484 66.67%,
      #3a3a3a
    );
  }
  .globe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(
      to bottom,
      #000,
      #333
    ); /* Gradient background */
  }

  .globe-canvas {
    border: 8px solid rgba(0, 0, 0, 0.5); /* Slightly black border */
  }

  hr {
    height: 1px;
    background-color: gray;
    border: none;
    opacity: 200%;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .menu-btn {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn_burg {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  .menu-btn_burg::after,
  .menu-btn_burg::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  .menu-btn_burg::after {
    transform: translateY(16px);
  }
  .menu-btn_burg::before {
    transform: translateY(-16px);
  }
  .menu-btn.open .menu-btn_burg {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn_burg::before {
    transform: rotate(45deg) translate(40px, -40px);
  }
  .menu-btn.open .menu-btn_burg::after {
    transform: rotate(-45deg) translate(40px, 40px);
  }
  input::placeholder {
    color: #b90f0f;
  }
  input {
    color: #fff;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .font_family {
    font-family: "Crimson Text", serif;
  }
  /* .ripple {
    background: rgba(25, 25, 26, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(25, 25, 26, 0.2);
  } */
  .scrolling1::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrolling2 {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /* Apply the styles to the scrollbar track (background) */
  body {
    background: #000;
  }
  body::-webkit-scrollbar {
    width: 0.25em;
  }
  body::-webkit-scrollbar-track {
    background-color: #000;
  }

  /* Apply the styles to the scrollbar thumb (handle) */
  body::-webkit-scrollbar-thumb {
    background-color: #d3c0c07f;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
  }
  /* after-before selector card component */
  /* design for blinkingCard.jsx */
  .blinking_div:hover:before {
    content: "";
    width: 150%;
    height: 150%;
    background-image: conic-gradient(#ff0052 20deg, transparent 120deg);
    position: absolute;
    animation: rotate 2s linear infinite;
  }
  .blinking_div::after {
    content: "";
    width: 190px;
    height: 190px;
    border-radius: 10px;
    background: #101010;
    position: absolute;
    top: 4px;
    left: 4px;
  }

  .svgs {
    width: 800px;
    height: 500px;
    background-color: #000000;
    top: -10px;
    left: -1px;
    z-index: -999;
    position: relative;
  }
  .pathDownpin1 {
    stroke-dasharray: 50;
    stroke-dashoffset: 0;
    animation: border 1s infinite;
    transition: animation 5s ease-in-out;
  }
  .pathDownpin1Horizontal {
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    animation: pathDownpin1Horizontal 0.5s infinite;
    transition: animation 5s ease-in-out;
  }
  .pathDownpin2 {
    stroke-dasharray: 50;
    stroke-dashoffset: 0;
    animation: border 0.5s infinite;
    transition: animation 5s ease-in-out;
  }
  .pathrightlastline{
    stroke-dasharray: 50;
    stroke-dashoffset: 0;
    animation: border 0.5s infinite;
    transition: border 5s ease-in-out;
  }
  @keyframes pathDownpin1Horizontal {
    0% {
      stroke-dashoffset: 100;
    }
    40% {
      stroke-dashoffset: 80;
    }
    60% {
      stroke-dashoffset: 60;
    }
    80% {
      stroke-dashoffset: 30;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes border {
    100% {
      stroke-dashoffset: 100;
    }
    80% {
      stroke-dashoffset: 80;
    }
    60% {
      stroke-dashoffset: 60;
    }
    40% {
      stroke-dashoffset: 30;
    }
    0% {
      stroke-dashoffset: 0;
    }
  }
  .powerOuterDiv {
    width: 100%;
    min-height: 280px;
    border-radius: 12px;
    border-color: #36454f;
    padding: 24px;
    box-shadow: 0 1px 0 1px rgba(19, 17, 17, 0.02), 0 4px 6px rgba(0, 0, 0, 0.02),
      inset 0 0 0 7px rgb(3, 2, 2);
    background: linear-gradient(180deg, #171414 0, rgb(0, 0, 0) 65.62%);
    position: relative;
    transition: background 0.15s ease;
    
  }
  .powerOuterDiv::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 3px;
    background: radial-gradient(circle, cyan, transparent);

  }
  .powerdiv2::before{
    background: radial-gradient(circle, rgb(255, 196, 0), transparent);
  }
  .powerdiv3::before{
    background: radial-gradient(circle, rgb(0, 255, 51), transparent);
  }
  
  
  
  
  
 
  /* for designing custom curve of a div */

  .custom_shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom_shape svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 198px;
  }

  .custom_shape .shape-fill {
    fill: #100f0f;
  }

  /* for responsive */
  /* responsiveness of curved shape */
  @media only screen and (max-width: 1400px) {
    .custom_shape svg {
      height: 100px;
    }
  }
}
