@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
/* background-image: linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px),
      linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px); */
@layer components {
  .cardy {
    background-color: #fff;
    background-image: linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px),
      linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
  }
  .bg_color {
    text-rendering: optimizeLegibility;
    background-color: #000;
    /* opacity: 97%; */
    color: rgb(42, 32, 32);
    /* scroll-padding-top: var(--header-height); */
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
  }

  
  .head_text {
    @apply mt-5 text-3xl font-extrabold leading-[1.15] bg-gradient-to-br from-slate-400 to-slate-50 bg-clip-text text-transparent text-center text-[3rem] min-[1000px]:text-[6rem] ;
  }
  /* .bg_color {
  @apply   bg-black opacity-[0.98] ;
} */
  .orange_gradient {
    @apply bg-gradient-to-r from-amber-100 via-orange-600 to-violet-600 bg-clip-text text-transparent font-bold text-4xl;
  }
  .desc {
    @apply font-serif p-4 font-extrabold text-transparent text-xl bg-clip-text bg-gradient-to-r from-white to-cyan-50 opacity-100 leading-8;
  }
  .navlist {
    @apply bg-slate-300 hover:bg-white hover:transition-colors hover:ease-in  hover:font-semibold bg-clip-text text-transparent text-[1.2rem];
  }
  .list {
    @apply border min-[900px]:border-none border-dashed w-full flex justify-center items-center;
  }
  .card_color {
    @apply bg-black opacity-70;
  }
  .card {
    @apply hover:bg-gradient-to-r hover:bg-slate-900 hover:via-slate-100 hover:to-slate-300 hover:shadow-gray-900 hover:shadow-xl;
  }
  .animate {
    @apply animate-spin;
  }
  .slide_item{
    @apply  w-[18rem] h-[15rem] px-3 flex flex-col justify-normal items-center  rounded-md bg-slate-300 shadow-2xl shadow-slate-400;
  }
  .slide_icon{
   @apply min-[900px]:w-28 min-[900px]:h-48 w-24 h-48 text-orange-600;
  }
  .slide_text{
   @apply  text-xl text-clip text-slate-900 font-semibold  opacity-100;
  }
  /* for mobile */
  .slide_itemM{
    @apply w-[18rem] h-[15rem]   px-3 flex flex-col justify-center items-center  rounded-md bg-slate-300 shadow-2xl shadow-slate-400;
  }
  .slide_iconM{
   @apply w-28 h-48 ;
  }
  .slide_textM{
   @apply  text-xl text-clip text-slate-900 font-semibold  opacity-100;
  }
  hr {
    height: 1px;
    background-color: gray;
    border: none;
    opacity: 200%;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .menu-btn {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn_burg {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  .menu-btn_burg::after,
  .menu-btn_burg::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  .menu-btn_burg::after {
    transform: translateY(16px);
  }
  .menu-btn_burg::before {
    transform: translateY(-16px);
  }
  .menu-btn.open .menu-btn_burg {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn_burg::before {
    transform: rotate(45deg) translate(40px, -40px);
  }
  .menu-btn.open .menu-btn_burg::after {
    transform: rotate(-45deg) translate(40px, 40px);
  }
  input::placeholder {
    color: #b90f0f;
  }
  input {
    color: #fff;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .font_family {
    font-family: "Crimson Text", serif;
  }
  .ripple {
    background: rgba(25, 25, 26, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(25, 25, 26, 0.2);
  }
  .scrolling1::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .scrolling2 {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
